table {

  border: 2px solid;

  thead {
    background: #8b98ab;
  }

  td {
    span {
      font-weight: 800;
      font-size: larger;
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  }
}

.page {
  min-height: 100%;
  background-color: #ebebeb;
  padding-top: 40px;
}
