<div class="page">
  <div class="container">
    <table class="table" *ngIf="colors">
      <thead>
      <tr>
        <th class="col-md-1">#</th>
        <th class="col-md-2">Name</th>
        <th class="col-md-9">Hex</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let color of colors;let i = index; ">
        <td>{{i + 1}}</td>
        <td>{{color.colorName}}</td>
        <td [ngStyle]="{'background-color':color.hexValue, 'color': color.hexValue}">
          <span>{{color.hexValue}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
