<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-left">
      <li role="presentation"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]=" ['./'] ">Home</a>
      </li>
      <li role="presentation"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]=" ['./colors'] ">Colors</a>
      </li>
    </ul>
  </nav>
</div>
<main>
  <router-outlet></router-outlet>
</main>
