<div class="jumbotron">
  <div class="container">
    <h1>Hi!</h1>
    <p>This is test task.</p>
    <p><a class="btn btn-primary btn-lg"[routerLink]="['./colors']">Go to colors</a></p>
  </div>
</div>